main{
   background-image: url(/restaurant.jpg);
   background-size: cover;
   background-position: center;
   background-blend-mode: darken;
   background-color: rgba(0, 0, 0, 0.37);
   height: 80vh;
}
.absolute{
   background-image: url(/restaurant.jpg);
   background-size: cover;
   background-position:center;
   background-blend-mode: darken;
   background-color: rgba(0, 0, 0, 0.37);
   /* height: 80vh; */
   background-attachment: fixed
}